/* font style */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Work+Sans:wght@400;600;700&display=swap');
    *{
    font-family: 'Work Sans', sans-serif;
    }
    header{
        padding:50px 240px;
        background: rgba(255, 144, 14, 0.10);
    }
    /* shared style */
    .button-primary{
        width: 180px;
        height: 64px;
        border-radius: 8px;
        background: #FF900E;
        color: #FFF;
        text-align: center;
        font-weight: 600;
        border: 0;
        margin-bottom: 25px;
        cursor: pointer;
    }
    .text-gray{
        color: #727272;
        font-weight: 400px;

    }

    
nav {
    display:flex ;
    justify-content:space-between;
    align-items: center;
    
}
nav > ul{
    display: flex;
    text-align: center;
}
nav li{
    list-style: none;
    margin-right:30px ;
    font-weight: 500;
    font-size: 1em;
   
}
nav a{
    text-decoration: none;
}
.nav-title{
    font-weight: 700;
    font-size: 2.8em;
}
/* banner items */
.banner img{
    width: 100%;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

/* baner item end */
main{
    max-width: 1440px;
    margin: 70px auto;
}
.teams-container{
    display: flex;
    align-items: center;

}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    mar
}
.teams-content{
    padding-left: 71px;
    padding-right: 71px;
}
.Quick-list{
    color: #727272;
    font-weight: 500;
}
.of-Our{
    color: #131313;
    font-weight: 700;
}
.Features{
    color: #FF900E;
    font-weight: 700
}
.tems-title{
    font-size:2.8em;
}
.teams-description{
    color:#727272 ;
    font-size: 16px;
    font-weight: 400;
}









/* responsiv for phone devise */

@media screen and (max-width:576px){
    header{
        padding:25px;
    }
   nav,
   .teams-container
   {
    flex-direction: column;
   }
   nav > img{
    width: 100%;
   }
   .teams-img-container{
    grid-template-columns:1fr;
   }
}

/* more tablet device */
@media screen and (min-width:577px) and (max-width:922px) {
    nav,
    .teams-container
    {
        flex-direction: column;
    }
    header{
        padding: 50px;
    }
}